/* Header */

header {
    background-color: #737373;
    border: 1px solid black;
}

.hero-image {
    border: 1px solid black;
}

.navbar {
    margin-left: 20px;
}

.menu {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 20px;
}

.menu:hover {
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 30px;
    border: 1px solid black;
}

.join-menu:hover {
    background-color: red;
    color: #fff;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 23px;
}

/* Cards */

.card-group{
    margin-top: -15px;
}

.card-img-top {
    border: 1px solid black;
    border-radius: 30px;
}

.card-body {
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 2px;
    border-radius: 30px;
}

.card-title {
    font-size: 22px;
    background-color: #737373;
    font-family: 'Anton', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}

.card-text {
    /* margin-top: -10px; */
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #a6a6a6;
    border-radius: 30px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    list-style-image: linear-gradient(to left bottom, #fff, #737373);
}



/* Footer*/

footer {
    background-color: #737373;
    border: 1px solid black;
}

/* Footer logo*/

.footer-logo{
    margin-left: 20px;
    margin-top: 50px;
}


/* Social media*/

.join-footer {
    text-align: center;
    font-size: 30px;
    
}

.join-footer:hover {
    background-color: red;
    color: #fff;
    border-radius: 30px;
    border: 1px solid black;
    margin-left: 40%;
    margin-right: 40%;
}

.sub-heading {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    margin-left: 2%;
}

i {
    color: #fff;
    margin-bottom: 50px;
    margin-left: 20px;
}

i:hover {
    color: rgb(2, 2, 2);  
}

