/* Header */

header {
    background-color: #737373;
    border: 1px solid black;
}


.navbar {
    margin-left: 20px;
}

.menu {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 20px;
}

.menu:hover {
    color: rgb(2, 2, 2);
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 30px;
}

/* Cards */

.card-title {
    background-color: #737373;
    font-family: 'Anton', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    padding: 3px;
    border: 1px solid black;
}

.card-text {
    /* margin-top: -10px; */
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #a6a6a6;
    border-radius: 30px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    list-style-image: linear-gradient(to left bottom, #fff, #737373);
}



/* Footer social media */

footer {
    background-color: #737373;
    border: 1px solid black;
}

i {
    color: #fff;
    margin-bottom: 50px;
    margin-left: 20px;
}

i:hover {
    color: rgb(2, 2, 2);  
}